@import '../../style/constants.scss';

.next-level-button {
    background-color: $light-green-color;
    cursor: pointer;
    height: 35px;
    border-radius: $border-radius;
    border: $block-border;
    color: $font-color;
    font-size: 15px;

    &:hover {
        background-color: $hovered-button-color;
    }
}