@import "../../style/constants.scss";

.next-level-button {
    height: 35px;

    font-size: 15px;

    color: $font-color;
    border: $block-border;
    border-radius: $border-radius;
    background-color: $block-background-color;

    cursor: default;

    &_active {
        background-color: $light-green-color;

        cursor: pointer;

        &:hover {
            background-color: $hovered-button-color;
        }
    }
}