$font-color: #fff;
$background-color: #222;
$block-background-color: #303030;
$light-green-color: #00bc8c;
$dark-green-color: #008966;
$inactive-answer-color: #444;
$incorrect-answer-color: #d62c1a;
$block-border: 1px solid #444;
$hovered-answer-color: #444;
$hovered-button-color: #00efb2;
$border-radius: 5px;
$border-radius-image: 10px;
$full-border-radius: 50%;