@import "../../style/constants.scss";

.question-block {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;

    padding: 15px;
    background-color: $block-background-color;
    border-radius: $border-radius;
    border: $block-border;

    &__image {
        grid-row: 1/3;
        border-radius: $border-radius-image;
    }
}