@import "../../style/constants.scss";

.question-block {
    display: grid;

    padding: 15px 55px 15px 15px;

    border: $block-border;
    border-radius: $border-radius;
    background-color: $block-background-color;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 40px;

    &__image {
        width: 200px;
        height: 155px;

        border-radius: $border-radius-image;

        grid-row: 1/3;
        object-fit: cover;
    }

    &__bird-name {
        margin: 0;
        padding-bottom: 15px;

        font-size: 32px;
        font-weight: 500;

        border-bottom: $block-border;
    }
}