@import "./style/constants.scss";

body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    background-color: $background-color;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}

p {
    margin: 0;
}

#root {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px 30px;
}

button {
    cursor: pointer;
    outline: none
}